---
import Achievements from "./components/Achievements/Achievements.astro";
import Gap from "/src/components/Gap/Gap.astro";
---

<section>
  <h1>Мой инженерный трек</h1>
  <Gap height={16} />
  <p>
    Мой основной вектор <span class="nowrap">развития —</span>
    <span class="nowrap">это проектирование</span>, анализ
    <span class="nowrap">и разработка</span> информационных систем. Люблю находить
    решения <span class="nowrap">для задач</span>, возникающих
    <span class="nowrap">в процессе</span> создания программных продуктов, используя
    научные <span class="nowrap">и математические</span> подходы, комбинируя различные
    технологии <span class="nowrap">и инструменты</span>.
  </p>
  <Gap height={48} />
  <Achievements />
</section>
