---
import Gap from "/src/components/Gap/Gap.astro";
---

<h1>Мои инженерные успехи</h1>
<Gap height={24} />
<p>Сделал систему электронного докуметооборота на основе блокчейна</p>
<p>C апреля по ноябрь 2024 года</p>
<Gap height={8} />
<p>
  В составе команды из 9 участников спроектировали, запрограммировали
  <span class="nowrap">и передали</span>
  <span class="nowrap">в эксплуатацию</span>
  систему, которая
  <span class="nowrap">на базе</span> смарт-контрактов сети блокчейн позволяет пользователям
  заказывать банковские документы, отслеживать состояние готовности заказов
  <span class="nowrap">и скачивать</span> готовые документы.
</p>
