@use '@fontsource-variable/rubik';
@use '/src/assets/constants';
@use '/src/assets/palette';

body {
  font-family: 'Rubik Variable', sans-serif;
  font-size: constants.$textPrimaryFontSize;
  background-image: url("./surname.svg");
  background-repeat: no-repeat;
  background-position: center 88px;
}

section {
  width: constants.$containerWidth;
  color: palette.$textPrimary;

  h1 {
    margin: 0;
    font-size: constants.$headerPrimaryFontSize ;
    font-weight: 500;
    color: palette.$textStrong;
  }

  p {
    margin: 0;
    line-height: 1.8em;
  }
  
  .nowrap {
    white-space: nowrap;
  }  
}

