@use '/src/assets/constants';
@use '/src/assets/palette';

header {
  display: flex;
  justify-content: center;
  background-color: palette.$headerBg;

  .container {
    width: constants.$containerWidth;
    margin: 0 50px;
    padding: 16px 0;
  }
}
