---
import SectionSeparator from "./components/SectionSeparator/SectionSeparator.astro";
import Summary from "./components/Summary/Summary.astro";
import "./PageBody.scss";
---

<main>
  <Summary />
  <SectionSeparator />
</main>
