---
import Gap from "../Gap/Gap.astro";
import Engineering from "./components/Engineering/Engineering.astro";
import SectionSeparator from "./components/SectionSeparator/SectionSeparator.astro";
import Summary from "./components/Summary/Summary.astro";
import "./assets/PageBody.scss";
---

<main>
  <Summary />
  <SectionSeparator />
  <Engineering />
  <Gap height={80} />
</main>
